@font-face{
    font-family: 'zorus-sarif';
    src: url('Zorus_Serif.otf');
}

body{
    background-color: beige;
    font-family: zorus-sarif; 
    margin: 0;
}

/*img{
    position: fixed;
    float: right;
    margin-left: 5px;
    width: 25vw;
    right: 5%;
    top: 2%;
    }*/
header{
    background: linear-gradient(rgba(255,255,255,0) 85%, rgba(218,210,186, 1) 100%), url('zen-background2.jpg') no-repeat right /cover;
    margin: 0;
    margin-bottom: 10px;
    z-index: -1;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 35vw;
    margin: 0;
    position: fixed;
    right: -5vw;
    top: 5vh;
    
    
    background: url(zen-circle.jpg) no-repeat;
    background-size: 20vw;
    background-position: center;
    
    font-size: 2.2vw;
    text-align: center ;
    padding-top: 0;
    
}
.summary p:last-child{
    text-align: center;
    margin-bottom: 275px;
}
.design-selection{
    width: 40%;
    position: absolute;
    top: 625px;
    left: 13%;
    text-align: center;
    
}
.design-archives{
    width: 40%;
    position: absolute;
    top: 675px;
    left: 33%;
    text-align: center;
    
}


h2{
    font-size: 40px;
    margin:  0;
    text-align: right;
    padding-top: 450px;
    padding-right: 40px;
    }

@media (min-width: 768px){
    
h3{
    width: 70%;
    max-width: 1000px;
    font-size: 30px;
    margin: 30px auto 0 auto;
    
}
p{
    width: 70%;
    max-width: 1000px;
    margin: 15px auto;
    font-size: 25px;
    padding-right: 15%;

}
}